@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,300,600);

body {
    font-family: 'open sans';
    color:rgb(55, 105, 199);
}

.backgroundColor {
    background-color: rgb(58, 58, 58);
    font-size: 15px;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}