.container {
    margin-bottom: 5%;
    /*font-family: sans-serif;
    background-color: white;
    font-size: 50px;
    width: 70%;
    position: absolute;
    text-align: center;
    top: 50%; left: 0; right: 0;
    margin-left: 15%;*/
}

.hrStyle {
    border: 1px solid black;
    margin-top: 2%;
    margin-bottom: 2%;
    width: 80%;
    margin-left: 10%;
}

.tableStyle {
    width: 70%;
    left: 50%;
    right: 50%;
    margin-left: 15%;
    text-align: justify;
}

.borderStyle {
    border: 1px solid black;
    border-radius:10px;
    -moz-border-radius:10px;
}

.ocurrencyStyle {
    border-collapse: collapse;
    border-spacing: 20%;
    text-align: center;
    color: black;
}

.spacing {
    padding: 20px;
    padding-left: 50px;
}

.title {
    font-size: 40px;
}