ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    display: inline-block;
    width: 50%;
}
  
@media screen and (min-width: 20em) {

    li {
        width: 33.33333%;
    }

}

h2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.container {
    margin-bottom: 5%;
    /*font-family: sans-serif;
    background-color: white;
    font-size: 20px;
    width: 80%;
    height: 17%;
    position: absolute;
    text-align: center;
    top: 25%; left: 0; right: 0;
    margin-left: 10%;*/
}

.component {
    margin: 0;
}

.recentOcurrency1 {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-right: 10px;

    p {
        margin-bottom: 10px;
    }
}

.recentOcurrency2 {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
    p {
        margin-bottom: 10px;
    }
}

.recentOcurrency3 {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 10px;

    p {
        margin-bottom: 10px;
    }
}

.hrStyle {
    width: 80%;
    margin-left: 10%;
}

.recOcurrencyStyle {
    text-align: justify; 
    margin-left: 13%;
    padding: 10px;
    color: black;
}

.details {
    font-size: 12px;
}