.container {
    margin: auto;
    font-family: sans-serif;
    width: 100%;
    max-width: 1980px;
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style: none;
    //background-color: rgb(145, 68, 68);
    background-color: rgb(71, 118, 206);
    padding: 10px 10px;
}

.nav-link-item {
    padding: 1rem 1rem;
    margin-left: 5%;
    margin-top: 1.5%;
    font-size: 40px;
}

.nav-link-text {
    color: black;
    text-decoration: none;
}

.nav-Right{
    flex-grow: 1;
    text-align: right;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 5%;
}