.header__container {
  margin: auto;
  font-family: sans-serif;
  width: 100%;
  max-width: 1980px;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: rgb(26, 83, 3);
}

.nav-link-item {
  border: 1px solid black;
  padding: 1rem 1rem;
  margin: 15px;
  font-size: 40px;
  background-color: gray;
  &:hover {
    background-color: black;
  }
}

.nav-link-text {
  color: white;
  text-decoration: none;
}

.nav-right {
  margin: 20px;
  margin-right: 5%;
}

.header__logout-button {
  width: 80px;
  height: 40px;
  background-color: gray;
  border-radius: 5px;
  color: white;
  border: 1px solid black;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: black;
  }
}
