.footer {
    font-family: sans-serif;
    background-color: rgb(37, 37, 37);
    color: white;
    font-size: 15px;
    padding: 2% 5%;
    /*
    min-height: 8%;
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    line-height: 100%;
    margin: 0 auto;*/
}